
%script#start-template{type: "text/template"}
  .hero-unit
    %h1 Frapp
    %p All your friends, in one place
    %p
      %a.btn.btn-primary#login{:href=>'#login'}
        Login with facebook

%script#friends-template{type: "text/template"}
  %article#friends
    %h1 My Friends
    %p
      %input#search.input-xlarge{:type=>"text", :placeholder=>"Filter by name"}
    %ul.unstyled

%script#friend-template{type: "text/template"}
  <img src="<%= avatar() %>" alt="<%= get('name') %>" class="avatar"/>
  %span.name
    <%= get('name') %>

%script#user-template{type: "text/template"}
  %li.dropdown
    %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
      <img src="<%= avatar() %>" alt="<%= get('name') %>" class="avatar"/>
      <%= get('name') %>
      %b.caret
      %ul.dropdown-menu
        %li
          %a{href: "#logout"}
            Logout

