.main
%script#start-template{type: "text/template"}
  .hero-unit
    %h1 Find friends
    %p Tagline
    %p
      %a#login
        Login
%script#friends-template{type: "text/template"}
  %article#friends
    %h1 Friends
    %p
      %input#search.input-xlarge{:type=>"text", :placeholder=>"Find friends"}
    %ul.unstyled
%script#user-template{type: "text/template"}
  %li.dropdown
    %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
      <img src="<%= avatar() %>" alt="<%= get('name') %>" class="avatar"/>
      <%= get('name') %>
      %b.caret
      %ul.dropdown-menu
        %li
          %a{href: "#logout"}
            Logout

